<div id="<%= dom_id operaciones_aerea %>">
  <p>
    <strong>Aeronave:</strong>
    <%= operaciones_aerea.aeronave_id %>
  </p>

  <p>
    <strong>Piloto:</strong>
    <%= operaciones_aerea.piloto_id %>
  </p>

  <p>
    <strong>Fecha operacion:</strong>
    <%= operaciones_aerea.fecha_operacion %>
  </p>

  <p>
    <strong>Horas vuelo:</strong>
    <%= operaciones_aerea.horas_vuelo %>
  </p>

  <p>
    <strong>Toque y despegue:</strong>
    <%= operaciones_aerea.toque_y_despegue %>
  </p>

  <p>
    <strong>Aterrizajes:</strong>
    <%= operaciones_aerea.aterrizajes %>
  </p>

  <p>
    <strong>Incidentes:</strong>
    <%= operaciones_aerea.incidentes %>
  </p>

  <p>
    <strong>Comentarios:</strong>
    <%= operaciones_aerea.comentarios %>
  </p>

  <p>
    <strong>Aerodromos:</strong>
    <%= operaciones_aerea.aerodromos %>
  </p>

</div>
