<div id="<%= dom_id piloto %>">
  <p>
    <strong>Usuario:</strong>
    <%= piloto.usuario_id %>
  </p>

  <p>
    <strong>Numero socio:</strong>
    <%= piloto.numero_socio %>
  </p>

  <p>
    <strong>Numero licencia:</strong>
    <%= piloto.numero_licencia %>
  </p>

  <p>
    <strong>Horas vuelo:</strong>
    <%= piloto.horas_vuelo %>
  </p>

</div>
