<div id="<%= dom_id aeronave %>">
  <p>
    <strong>Modelo:</strong>
    <%= aeronave.modelo %>
  </p>

  <p>
    <strong>Matricula:</strong>
    <%= aeronave.matricula %>
  </p>

  <p>
    <strong>Horas vuelo acumulado:</strong>
    <%= aeronave.horas_vuelo_acumulado %>
  </p>

  <p>
    <strong>Horas vuelo mantencion:</strong>
    <%= aeronave.horas_vuelo_mantencion %>
  </p>

  <p>
    <strong>Mantencion total:</strong>
    <%= aeronave.mantencion_total %>
  </p>

</div>
