<!DOCTYPE html>
<html>
  <head>
    <title>FlyingClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if notice %>
      <%= render partial: 'application/toast', locals: { type: "info", message: notice } %>
    <% elsif alert %>
      <%= render partial: 'application/toast', locals: { type: "alert", message: alert } %>
    <% end %>

    <div class="antialiased bg-white dark:bg-gray-900">

      <%= render 'navbar' %>
      <%= render 'sidebar' %>

      <main class="p-4 md:ml-64 h-auto pt-20">
        <%= yield %>
      </main>


    </div>
  </body>
</html>
